<form action="/save_word" method="POST">
    Search word:
    <label>
        <input type="text" name="search_word">
    </label>qw
    <br>
    <input type="submit" value="Submit">
</form>
<ul class="people_list">
    {{#each trigger}}
        <li>{{this}}</li>
    {{/each}}
</ul>
